```
# Gradle
.gradle/
build/
target/

# Dependencies
libs/
lib/

# Temp files
*.tmp
*.temp
build_temp/

# Environment
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Compressed files
*.zip
*.jar
*.tar
*.gz
*.tgz
*.bz2
*.xz
*.7z
*.rar
*.zst
```